<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}EVOCRAFT</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>

<body>
<div class="headbanner" style="background-image: url({$basePath}/images/headbanner.jpg);"></div>
<div class="menulista">
	<div style="left: 49px;" class="menu_button">
		<a n:href="Homepage:install">INSTALACE</a>
	</div>
	<div style="left: 142px;" class="menu_button">
		<a n:href="Homepage:modlist">MOD LIST</a>
	</div>
	<div style="left: 235px;" class="menu_button">
		<a n:href="Homepage:info">INFO</a>
	</div>
	<div style="left: 328px;" class="menu_button">
		<a n:href="Homepage:default">DOMŮ</a>
	</div>
</div>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
	{$flash->message}
</div>
<div class="telo1"></div>
{include content}
<div class="telo4"></div>
</body>

</html>
