<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}EVOCRAFT</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>

<body>
<a n:href=":Front:Homepage:default">
	<div class="headbanner" style="background-image: url({$basePath}/images/headbanner.jpg);"></div>
</a>
<div class="menulista">
	<a n:href=":Front:Homepage:default">
		<div style="left: 328px;" class="menu_button">
			DOMŮ
		</div>
	</a>
	<a n:href=":Front:Homepage:install">
		<div style="left: 49px;" class="menu_button">
				INSTALACE
		</div>
	</a>
	<a n:href=":Front:Homepage:modlist">
		<div style="left: 142px;" class="menu_button">
			MOD&nbsp;LIST
		</div>
	</a>
	<a n:href=":Front:Homepage:info">
		<div style="left: 235px;" class="menu_button">
			INFO
		</div>
	</a>
</div>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
	{$flash->message}
</div>
<div class="telo1"></div>
{include content}
<div class="telo4"></div>
<div class="footer">
	Web provozuje <a href="https://baraja.cz">Jan Barášek</a>.
	©&nbsp;2009-{date('Y')}
</div>
</body>
</html>
