{block content}
<div class="teloI2" style="height: 760px;">
	<div style="width: 750px;height: 780px;padding-left: 40px;padding-top: 20px; color: #4b5656;font-size: 14px;text-align: justify;">
		<h1 n:block=title>Chyba 404</h1>

		<p>
			Tato stránka nebyla nalezena a patrně neexistuje.
		</p>

		<p>
			<small>error 404</small>
		</p>
	</div>
</div>